    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

                    @font-face {
                    font-family: 'ClashDisplay-Extralight';
                    src: url('./fonts/ClashDisplay-Extralight.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Extralight.woff') format('woff'),
                        url('./fonts/ClashDisplay-Extralight.ttf') format('truetype');
                    font-weight: 200;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Light';
                    src: url('./fonts/ClashDisplay-Light.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Light.woff') format('woff'),
                        url('./fonts/ClashDisplay-Light.ttf') format('truetype');
                    font-weight: 300;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Regular';
                    src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Regular.woff') format('woff'),
                        url('./fonts/ClashDisplay-Regular.ttf') format('truetype');
                    font-weight: 400;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Medium';
                    src: url('./fonts/ClashDisplay-Medium.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Medium.woff') format('woff'),
                        url('./fonts/ClashDisplay-Medium.ttf') format('truetype');
                    font-weight: 500;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Semibold';
                    src: url('./fonts/ClashDisplay-Semibold.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Semibold.woff') format('woff'),
                        url('./fonts/ClashDisplay-Semibold.ttf') format('truetype');
                    font-weight: 600;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Bold';
                    src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Bold.woff') format('woff'),
                        url('./fonts/ClashDisplay-Bold.ttf') format('truetype');
                    font-weight: 700;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ClashDisplay-Variable';
                    src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
                        url('./fonts/ClashDisplay-Variable.woff') format('woff'),
                        url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
                    font-weight: 200 700;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-Thin';
                    src: url('../fonts/Switzer-Thin.woff2') format('woff2'),
                        url('../fonts/Switzer-Thin.woff') format('woff'),
                        url('../fonts/Switzer-Thin.ttf') format('truetype');
                    font-weight: 100;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-ThinItalic';
                    src: url('../fonts/Switzer-ThinItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-ThinItalic.woff') format('woff'),
                        url('../fonts/Switzer-ThinItalic.ttf') format('truetype');
                    font-weight: 100;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Extralight';
                    src: url('../fonts/Switzer-Extralight.woff2') format('woff2'),
                        url('../fonts/Switzer-Extralight.woff') format('woff'),
                        url('../fonts/Switzer-Extralight.ttf') format('truetype');
                    font-weight: 200;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-ExtralightItalic';
                    src: url('../fonts/Switzer-ExtralightItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-ExtralightItalic.woff') format('woff'),
                        url('../fonts/Switzer-ExtralightItalic.ttf') format('truetype');
                    font-weight: 200;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Light';
                    src: url('../fonts/Switzer-Light.woff2') format('woff2'),
                        url('../fonts/Switzer-Light.woff') format('woff'),
                        url('../fonts/Switzer-Light.ttf') format('truetype');
                    font-weight: 300;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-LightItalic';
                    src: url('../fonts/Switzer-LightItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-LightItalic.woff') format('woff'),
                        url('../fonts/Switzer-LightItalic.ttf') format('truetype');
                    font-weight: 300;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Regular';
                    src: url('../fonts/Switzer-Regular.woff2') format('woff2'),
                        url('../fonts/Switzer-Regular.woff') format('woff'),
                        url('../fonts/Switzer-Regular.ttf') format('truetype');
                    font-weight: 400;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-Italic';
                    src: url('../fonts/Switzer-Italic.woff2') format('woff2'),
                        url('../fonts/Switzer-Italic.woff') format('woff'),
                        url('../fonts/Switzer-Italic.ttf') format('truetype');
                    font-weight: 400;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Medium';
                    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
                        url('../fonts/Switzer-Medium.woff') format('woff'),
                        url('../fonts/Switzer-Medium.ttf') format('truetype');
                    font-weight: 500;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-MediumItalic';
                    src: url('../fonts/Switzer-MediumItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-MediumItalic.woff') format('woff'),
                        url('../fonts/Switzer-MediumItalic.ttf') format('truetype');
                    font-weight: 500;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Semibold';
                    src: url('../fonts/Switzer-Semibold.woff2') format('woff2'),
                        url('../fonts/Switzer-Semibold.woff') format('woff'),
                        url('../fonts/Switzer-Semibold.ttf') format('truetype');
                    font-weight: 600;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-SemiboldItalic';
                    src: url('../fonts/Switzer-SemiboldItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-SemiboldItalic.woff') format('woff'),
                        url('../fonts/Switzer-SemiboldItalic.ttf') format('truetype');
                    font-weight: 600;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Bold';
                    src: url('../fonts/Switzer-Bold.woff2') format('woff2'),
                        url('../fonts/Switzer-Bold.woff') format('woff'),
                        url('../fonts/Switzer-Bold.ttf') format('truetype');
                    font-weight: 700;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-BoldItalic';
                    src: url('../fonts/Switzer-BoldItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-BoldItalic.woff') format('woff'),
                        url('../fonts/Switzer-BoldItalic.ttf') format('truetype');
                    font-weight: 700;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Extrabold';
                    src: url('../fonts/Switzer-Extrabold.woff2') format('woff2'),
                        url('../fonts/Switzer-Extrabold.woff') format('woff'),
                        url('../fonts/Switzer-Extrabold.ttf') format('truetype');
                    font-weight: 800;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-ExtraboldItalic';
                    src: url('../fonts/Switzer-ExtraboldItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-ExtraboldItalic.woff') format('woff'),
                        url('../fonts/Switzer-ExtraboldItalic.ttf') format('truetype');
                    font-weight: 800;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Black';
                    src: url('../fonts/Switzer-Black.woff2') format('woff2'),
                        url('../fonts/Switzer-Black.woff') format('woff'),
                        url('../fonts/Switzer-Black.ttf') format('truetype');
                    font-weight: 900;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-BlackItalic';
                    src: url('../fonts/Switzer-BlackItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-BlackItalic.woff') format('woff'),
                        url('../fonts/Switzer-BlackItalic.ttf') format('truetype');
                    font-weight: 900;
                    font-display: swap;
                    font-style: italic;
                }
                @font-face {
                    font-family: 'Switzer-Variable';
                    src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
                        url('../fonts/Switzer-Variable.woff') format('woff'),
                        url('../fonts/Switzer-Variable.ttf') format('truetype');
                    font-weight: 100 900;
                    font-display: swap;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'Switzer-VariableItalic';
                    src: url('../fonts/Switzer-VariableItalic.woff2') format('woff2'),
                        url('../fonts/Switzer-VariableItalic.woff') format('woff'),
                        url('../fonts/Switzer-VariableItalic.ttf') format('truetype');
                    font-weight: 100 900;
                    font-display: swap;
                    font-style: italic;
                }
                
                

                :root {
                    --background-color-light: #fcfdfc;
                    --text-color-light: #0D0E12;
                    --background-color-dark: #0D0E12;
                    --text-color-dark: #F1F1F4;
                    --border-color-dark: #32353e;
                    --border-color-light: #ebebf1;
                    --hover-background-color-light: #ebebf1;
                    --hover-background-color-dark: #33343c;
                    --foreground-color-light: 228, 10%, 20%;
                    --foreground-color-dark: 0, 0%, 90%;
                    --border-color: 222, 10%, 19%;
                    --background-secundary-light: #fcfdfc;
                    --background-secundary-dark: #16181d;
                    --primary-inverso-dark: #fcfdfc;
                    --primary-inverso-light: #0D0E12;
                    --color-accent: #b4cd02;
                    --width-background-color-dark: #1e1f24;
                    --width-background-color-light: #ebebf1;
                    --background-color-extra-dark: #15141a;
                    --background-color-extra-light: #fcfdfc;
                }

                body[data-theme="light"] {
                    --background-color: var(--background-color-light);
                    --text-color: var(--text-color-light);
                    --border-color: var(--border-color-light);
                    --hover-background: var(--hover-background-color-light);
                    --foreground-color: var(--foreground-color-light);
                    --background-secundary: var(--background-secundary-light);
                    --primary-inverso: var(--primary-inverso-light);
                    --width-background: var(--width-background-color-light);
                    --background-extra: var(--background-color-extra-light);
                }

                body[data-theme="dark"] {
                    --background-color: var(--background-color-dark);
                    --text-color: var(--text-color-dark);
                    --border-color: var(--border-color-dark);
                    --hover-background: var(--hover-background-color-dark);
                    --foreground-color: var(--foreground-color-dark);
                    --background-secundary: var(--background-secundary-dark);
                    --primary-inverso: var(--primary-inverso-dark);
                    --width-background: var(--width-background-color-dark);
                    --background-extra: var(--background-color-extra-dark);
                }

                body {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    background-color: var(--background-color);
                    color: var(--text-color);
                    background-image: 
                    linear-gradient(to right, rgba(29, 29, 29, 0.223) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgb(29, 29, 29, 0.233) 1px, transparent 1px);
                    background-size: 14px 24px;
                    font-family: "DM Sans", sans-serif;
                    transition: background-color 0.3s, color 0.3s;
                    overflow-x: hidden;
                    border-color: var(--border-color);
                    scrollbar-color: rgb(0, 114, 190) #424343;
                }

                a {
                    text-decoration: none;
                    color: (var(--text-color));
                }

                .icono {
                    position: absolute;
                    color: #ff85c0;
                    font-size: 20px;
                    opacity: 0.6;
                }

                .nav-header {
                    position: sticky;
                    top: 0;
                    left: 0;
                    z-index: 99999;
                    backdrop-filter: var(--tw-backdrop-blur);
                    backdrop-filter: blur(8px);
                    background-color: transparent;
                    width: 100vw;
                    height: 4rem;
                    border-bottom: 1px solid var(--border-color);;
                }

                .nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 4rem;
                }

                .nav-firstItems {
                    display: flex;
                    margin-left: 30px;
                }

                .ul-nav {
                    display: flex;
                    list-style: none;
                    padding: 20px;
                }

                .nav-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .iconLuffy {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }

                .logoText {
                    font-family: "DM Sans", sans-serif;
                    font-weight: 800;
                    font-size: 20px;
                    margin-left: 9px;
                    margin-right: 0;
                }

                .ul-nav a {
                    margin-right: 18px;
                    font-weight: 600;
                    font-family: "DM Sans", sans-serif;
                    font-size: 18px;
                }

                .hrefNoMargin {
                    margin-right: 0;
                    margin-left: 2px;
                }

                .ul-nav a:hover {
                    color: #4989ff;
                    fill: #4989ff;
                }

                .menu-idioma, .menu-tema {
                    position: relative;
                    display: inline-block;
                    align-items: center;
                    justify-content: center;
                }

                .menu-idioma .boton, .menu-tema .boton {
                    background-color: transparent;
                    color: var(--text-color);
                    padding: 10px 15px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-size: 14px;
                }

                .menu-idioma .boton img, .menu-tema .boton img {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .menu-idioma .dropdown, .menu-tema .dropdown {
                    display: none;
                    position: absolute;
                    background-color: var(--background-secundary);
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                    border-radius: 6px;
                    border: 1px solid var(--border-color);
                    margin-top: 8px;
                    width: 200px;
                    z-index: 1;
                }

                .menu-idioma:hover, .menu-tema:hover {
                    background-color: var(--border-color);
                    border: 1 solid transparent;
                    border-radius: 6px;
                }

                .menu-idioma .dropdown a, .menu-tema .dropdown a {
                    color: var(--text-color);
                    text-decoration: none;
                    padding: 5px 12px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-family: 'DM Sans', sans-serif;
                }

                .menu-idioma .dropdown a:hover, .menu-tema .dropdown a:hover {
                    color: rgb(59 130 246);
                }

                .menu-idioma .dropdown a img, .menu-tema .dropdown a img {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    border-radius: 50%;
                }

                .selectionText {
                    font-size: 14px;
                    line-height: 20px;
                    padding-top: .375rem;
                    padding-bottom: .375rem;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    font-family: "DM Sans", sans-serif;
                    font-weight: bold;
                }

                .iconIdiomaDown {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 8px;
                }

                #dropdown-theme svg {
                    margin-right: 10px;
                    color: var(--text-color);
                }

                #dropdown-theme span {
                    font-family: "DM Sans", sans-serif;
                }

                .menu-tema {
                    border-radius: 6px;
                    border: 2px solid var(--hover-background);
                }

                .loginOption {
                    margin-left: 20px;
                }

                .last-items {
                    position: relative;
                    left: 120%;
                    top: 3px;
                }

                .SVGNav {
                    display: none;
                }

                .openMenuButton {
                    display: none;
                }

                .separator {
                    width: 90%;
                    height: 1px;
                    background-color: var(--border-color);
                }
                
                .separator-mobile {
                    width: 100%;
                    height: 1px;
                    background-color: var(--border-color);
                    display: none;
                    margin-top: 20px;
                }
                
                #dropdown-theme {
                    width: 138px;
                    height: auto;
                    padding-bottom: 5px;
                    overflow: hidden;
                    right: 0;
                }

                #dropdown-menu {
                    right: 0;
                }

                .text-blue {
                    stroke: var(--color-accent);
                    color: var(--color-accent);
                }
                
                .text-blue2 {
                    stroke: var(--color-accent);
                    color: var(--color-accent);
                }

                .dropdown a:hover {
                    cursor: pointer;
                }

                .openMenu {
                    display: block;
                }

                .closeMenu {
                    display: none;
                }

                #main {
                    min-height: 89%;
                    max-width: 90%;
                }

                .allContent {
                    display: flex;
                    width: auto;
                    margin-top: 100px
                }

                .leftContent {
                    margin-right: auto;
                    width: 400px;
                    justify-content: center;
                    order: 1;
                    padding-right: 300px;
                    animation: entrance .8s ease;
                }

                .twebPageDevelopmentextToGradientBellow {
                    font-size: 60px;
                }

                .boldH1Span {
                    font-family: "ClashDisplay-Bold", sans-serif;
                    color: var(--text-color);
                }
                
                .leftContentInfo {
                    font-size: 1.5rem;
                    font-family: "DM Sans", sans-serif;
                    font-weight: 400;
                    color: #a5a5a6;
                    margin-top: 0;
                }

                .avatar-container {
                    width: 350px;
                    height: 350px;
                    right: 100px;
                    order: 2;
                }

                .containerrr {
                    position: relative;
                    margin-bottom: 2.5rem; /* Similar a `mb-10` */
                    width: 392px;
                    height: 392px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    }
                
                    .gradient-blur {
                    position: absolute;
                    inset: -4px; /* Similar a `-inset-1` */
                    border-radius: 50%; /* Similar a `rounded-full` */
                    background: linear-gradient(
                        to right,
                        rgba(241,74,100),
                        rgba(254,254,254),
                        rgb(59 130 246)
                    );
                    opacity: .4; /* Similar a `opacity-30` */
                    filter: blur(24px); /* Similar a `blur-xl` */
                    z-index: 0;
                    }
                
                    .image-wrapper {
                    position: relative;
                    border-radius: 50%; /* Similar a `rounded-full` */
                    overflow: hidden;
                    z-index: 1;
                    aspect-ratio: 1/1;
                    width: 380px;
                    height: 380px;
                    }
                
                    .image-wrapper img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: move 10s ease-in-out 1;
                    }

                .avatar-foto {
                    border-radius: 50%;
                    width: 400px;
                    height: 400px;
                }

                /* SERVICES */

                #services {
                    font-family: 'DM Sans', sans-serif;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow-x: hidden;
                }

                .services-section {
                    max-width: 80%;
                }

                .services-text .myServices {
                    font-size: 32px;
                    font-weight: bold;
                    text-align: start;
                }

                .divIcon {
                    display: flex;
                    flex-direction: column;
                }

                .services-offert {
                    display: grid;
                    grid-template-columns: 400px 400px 400px;
                    grid-template-rows: auto auto;
                    gap: 20px;
                }

                .offert {
                    background-color: var(--width-background);
                    border: 1px solid var(--border-color);
                    border-radius: 8px;
                    padding: 15px 0 15px 15px;
                }

                .offertTitle {
                    margin-top: 10px;
                    font-weight: 900;
                    font-size: 20px;

                }

                .parahp {
                    max-width: 300px;
                    color: var(--text-color);
                }

                .parahp a {
                    font-weight: 800;
                }

                .parahp a:hover {
                    text-decoration: underline;
                    text-decoration-style: solid;
                }

                /* MUSICA */

                /* #music {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'DM Sans', sans-serif;
                }

                .music-container {
                    max-width: 80%;
                    background-color: var(--width-background);
                    border-radius: 18px;
                    margin-bottom: 10px;
                    padding: 0 0 30px 0;
                    display: flex;
                    position: relative;
                }

                .leftInfoMusic {
                    padding: 0 0 0 30px;
                }

                .leftInfoMusic h2 {
                    font-size: 32px;
                }

                .leftInfoMusic p {
                    max-width: 50%;
                    color: #858585;
                    margin-bottom: 25px;
                    font-size: 18px;
                }

                .listMusic {
                    display: grid;
                    grid-template-columns: 300px 300px;
                    grid-template-rows: auto auto;
                    gap: 20px;
                }

                

                .circle {
                    width: 8px;
                    height: 8px;
                    background-color: #09f;
                    border-radius: 50%;
                    margin-right: 8px;
                }

                .item {
                    display: flex;
                }

                .reproductor {
                    position: absolute;
                    right: 100px;
                    top: 50px;
                    background-color: var(--background-extra);
                    border-radius: 8px;
                    padding: 20px;
                }

                .top-items {
                    display: flex;
                }

                .top-items img {
                    border-radius: 8px;
                    width: 56px;
                    height: 56px;
                    margin: 20px 0;
                }

                .musicTopInfo {
                    display: flex;
                }

                .musicInfo {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0 0 10px;
                }

                .radioContainer {
                    margin: 5px 0 0 5px;
                }

                #svgVOLUME:hover {
                    cursor: pointer;
                }

                #progressMusic {
                    --webkit-appearance: none;
                    width: 60px;
                    height: 8px;
                    background-color: var(--background-extra);
                    border-radius: 8px;
                    cursor: pointer;
                }

                .reproductorItem {
                    display: flex;
                }

                .bottomItems button:hover {
                    cursor: pointer;
                } */

                .mobile-nav {
                    display: none;
                }

                /* ANIMATIONS */

                @keyframes entrance {
                    from {
                        transform: translateX(-200%);
                    }
                    to {
                        transform: translateX(0);
                    }
                }

                @keyframes move {
                    from {
                        transform: rotate(1000deg);
                    }
                    to {
                        transform: rotate(2900deg);
                    }
                }

                /* Móviles */
                @media (max-width: 767px) {

                    .mobile-nav {
                        display: flex;
                        align-items: center;
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 99999;
                        backdrop-filter: var(--tw-backdrop-blur);
                        backdrop-filter: blur(8px);
                        background-color: transparent;
                        width: 100%;
                        height: 4rem;
                        border-bottom: 1px solid var(--border-color);
                        padding-left: 20px;
                    }

                    .mobile-nav button {
                        position: relative;
                        left: 260px;
                    }

                    .mobile-nav .github {
                        position: relative;
                        left: 270px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 600;
                        background-color: var(--background-color);
                        border: 2px solid var(--border-color);
                        border-radius: 6px;
                        padding: 8px 10px;
                    }

                    .github:hover {
                        background-color: var(--border-color);
                    }
                    
                    .openMenu {
                        display: block;
                        width: 32px;
                        height: 32px;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        color: var(--primary-inverso);
                    }

                    .closeMenu {
                        display: block;
                        width: 28px;
                        height: 28px;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        color: var(--border-color);
                        position: relative;
                        bottom: 40px;
                        left: 275px;
                    }

                    .closeMenu:hover {
                        color: var(--primary-inverso);
                    }

                    .allContent {
                        flex-direction: column;
                        margin-top: 100px;
                    }

                    .nav-header {
                        opacity: 0;
                        visibility: hidden;
                        position: fixed;
                        display: flex;
                        flex-direction: column;
                        top: 0;
                        left: 0px;
                        z-index: 99999;
                        background-color: var(--background-color);
                        border: 1px solid var(--border-color);
                        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
                        width: 78%;
                        height: 100%;
                        overflow: hidden;
                    }

                    @keyframes entrance {
                        from {
                            transform: translateX(-200%);
                        }
                        to {
                            transform: translateX(0);
                        }
                    }
                    
                    .entrance {
                        animation: entrance .8s ease;
                    }
                    
                    @keyframes cout {
                        from {
                            transform: translateX(0);
                        }
                        to {
                            transform: translateX(-200%);
                        }
                    }
                    
                    .cout {
                        animation: cout .4s ease;
                    }
                    
                    .visible {
                        opacity: 1;
                        visibility: visible;
                    }

                    .invisible {
                        opacity: 0;
                        visibility: hidden;
                    }

                    .fixed {
                        position: fixed;
                    }

                    .nav {
                        flex-direction: column;
                    }

                    .nav-firstItems {
                        flex-direction: column;
                        margin-top: 50px;
                    }

                    .last-items {
                        position: relative;
                        left: 70%;
                        top: 300px;
                        width: 100%;
                    }

                    .ul-nav {
                        flex-direction: column;
                        margin-top: 30px;
                        gap: 15px;
                        align-items: start;
                    }

                    .ul-nav a {
                        display: inline-flex;
                        align-items: center;
                    }

                    .ul-nav a:hover {
                        color: #4989ff;
                    }

                    .SVGNav {
                        display: inline;
                        fill: currentColor;
                        margin-right: 4PX;
                    }

                    #dropdown-theme, #dropdown-menu {
                        bottom: 50px;
                        right: 0;
                    }

                    #dropdown-menu {
                        left: 0px;
                    }

                    .separator-mobile {
                        display: block;
                        width: 90%;
                    }

                    .avatar-container {
                        order: 1;
                        margin-bottom: 20px;
                    }

                    .leftContent {
                        order: 2;
                    }

                    .textToGradientBellow {
                        font-size: 40px;
                        margin-bottom: 0;
                    }

                    .twebPageDevelopmentextToGradientBellow {
                        font-size: 35px;
                        margin-top: 35px;
                    }

                    .leftContentInfo {
                        font-size: 25px;
                    }

                    .muchMore {
                        margin-left: 120px;
                    }

                    .avatar-container {
                        animation: entrance .8s ease;
                        margin-top: 50px;
                        margin-left: 100px;
                    }

                    .services-offert {
                        display: grid;
                        grid-template-columns: 430px;
                    }

                    #services {
                        margin: 50px 0 50px 0;
                    }

                    /* .music-container {
                        overflow: hidden;
                    }

                    .leftInfoMusic h2 {
                        font-size: 26px;
                    } */
                }